.car-main-container{
    background-color: #ffffff;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}


.car-heading-cont{
    background-color: 
    #4D148C;
    min-height: 70px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.car-heading{
    color: #ffffff;
    margin-left: 10%;
}

.car-header{
    width: 80%;
    margin: auto;
}


.tfg-list{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.tfg-cont{
    background-color: #ffffff;
    width: 20%;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 0px 15px 5px #cff1fa;
}

.tfg-img{
    width: 45%;
}

.tfg-head{
    color: #1A0F91;
}

.tfg-para{
    font-size: 15px;
    color: #596F7B;
    text-align: center;
}

.we-hire{
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 70px;
}

.we-hire-para{
    font-size: 15px;
    color: #596F7B;
    text-align: center;
    margin-bottom: 70px;
}

.careers-list{
    width: 80%;
    margin: auto;
}

.career-item-cont{
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-top: 25px;
    box-shadow: 3px 0px 15px 5px #cff1fa;
}

.type{
    font-size: 12px;
    color: #596F7B;
    margin-bottom: 0px;
}

.role{
    font-size: 15px;
    color: #596F7B;
    margin-top: 3px;
    font-weight: 600;
}

.city{
    font-size: 12px;
    color: #596F7B;
    margin-top: 0px;
    font-weight: 600;
}

.apply-button{
    background-color: #4D148C;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 140px;
    border-radius: 30px;
    border-width: 0px;
    text-align: center;
}

.join-with-us{
    background-color: 
    #FF6200;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.join-us-head{
    color: #ffffff;
}

.join-us-para{
    color: #ffffff;
    font-size: 15px;
    width: 80%;
}

.direction-img{
    height: 200px;
    width: 200px;
}

.join-now-button{
    background-color: #ffffff;
    color: 
    #4D148C;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 140px;
    border-radius: 30px;
    border-width: 0px;
    text-align: center;
}